<phpunit 
    stopOnFailure="false" 
    bootstrap="bootstrap.php"
    >

    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <directory>../test/</directory>
                <directory>../tpl/</directory>
                <directory>../57fw/twig/Twig/</directory>
                <directory>../57fw/orm/backend/mysql/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
    </logging>
</phpunit>
