<phpunit stopOnFailure="false">
    <testsuite name="TestSuite">
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../57fw</directory>
            <exclude>
                <directory suffix=".php">../57fw/twig/Twig/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
    </logging>

</phpunit>
