{% extends "admin/base.html" %}
{% block content %}

<h2>
    Instances of {{ model }}
</h2>

<a href="{{ mkurl('admin.edit', mkmodel(model), 'new') }}" style="float: right" class="-btn -primary">New</a>
{% if count(fields) > 7 %}
<p>
    <div class="-label -warning- _big">{{count(fields) - 7}} field(s) truncated</div>
</p>
{% endif %}

<table class="-table _striped_ _hovered_">
    <thead>
        <tr>
            {% for name in array_slice(fields, 0, 7) %}
            <td>{{ name }}</td>
            {% endfor %}
            <td>
                Actions 
            </td>
        </tr>
    </thead>
    <tbody>
    {% for i in instances %}
        <tr>
            {% for f in array_slice(i.getFields, 0, 7) %}
                <td>{{ f.forcedValue|truncate(18) }}</td>
            {% endfor %}
            <td>
                <div class="-group _small">
                    <a href="{{ mkurl('admin.edit', mkmodel(i.getClass), i.getPKey.getValue) }}" class="-btn -primary-">Edit</a>
                    <a href="{{ mkurl('admin.delete', mkmodel(i.getClass), i.getPKey.getValue) }}" class="-btn -warning-">Remove</a>
                </div>
            </td>
        </tr>
    {% endfor %}    
    </tbody>
</table>
{% endblock %}  
